div {
    font-size: 40px;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
}

.colorButtons button {
    padding: 17px;
    border-radius: 10px;
}

.gridContainer {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
    width: 800px;
    height: 800px;
    border: 1px solid gray;
}

.box {
    box-sizing: border-box;
    border: 1px solid rgba(158, 156, 156, 0.493);
    transition: background-color .2s;
}

